
<nav class="navbar navbar-dark bg-primary bg-gradient barra">
        <a href="/" class="navbar-brand">Cadastro de Categorias</a>
        <ul class="navbar-nav text-start me-auto ms-2">
            <li class="nav-item">
                <a href="/admin/categorias" class="nav-link">Categorias</a>
            </li>

        </ul>
    </nav>
