
<nav class="navbar navbar-dark bg-primary bg-gradient barra ">
    <i class="bi bi-at" style="font-size: 1.7rem; color: rgb(200, 227, 250);"></i><a href="/" class="navbar-brand ">SisCategoria</a>
        <ul class="navbar-nav me-auto ms-2">
            <li class="nav-item ">
                <a href="/admin/categorias" class="nav-link">Categorias</a>
            </li>

        </ul>
        <ul class="navbar-nav ms-auto me-3">
            <li class="nav-item ">
                <i class="bi bi-bootstrap-fill" style="font-size: 2rem; color: rgb(200, 227, 250);"></i>
            </li>

        </ul>
    </nav>
