
<nav class="navbar navbar-dark bg-primary bg-gradient barra ">
    <i class="bi bi-at" style="font-size: 1.7rem; color: rgb(200, 227, 250);"></i><a href="/" class="navbar-brand ">SisCategoria</a>
        <ul class="navbar-nav me-auto ms-2 flex-row ">
            <li class="nav-item ">
                <a href="/admin/categorias" class="nav-link">Categorias</a>
            </li>
            <li class="nav-item ms-4">
                <a href="/admin/artigos" class="nav-link">Artigos</a>
            </li>
            
        </ul>
      
        <ul class="navbar-nav ms-auto me-3 direito">
            
            <li class="nav-item ">
                <a href="/logout" class="nav-link esquerdo me-3">Sair</a>
                <i class="bi bi-bootstrap-fill" style="font-size: 2rem; color: rgb(200, 227, 250);"></i>
            </li>

        </ul>
    </nav>
