<%- include ("../../partials/header.ejs") %> 
<body>
   <!--  <%- include ("../../partials/navbar.ejs") %> -->


    <div class="container">
        <div class="card">
            <div class="card-header">
                Tela de Login
            </div>
            <div class="card-body">
                <form action="/autenticado" method="post">

                    <input type="text" name="nome" class="form-control">
                    <input type="email" name="email" class="form-control">
                    <input type="password" name="senha" class="form-control">
                    <button type="submit" class="btn btn-primary">Login</button>
                </form>
            </div>
        </div>
    </div>

   
 <%- include ("../../partials/footer.ejs") %> 