<%- include ("../../partials/header.ejs") %>

    <body>
        <%- include ("../../partials/navbar.ejs") %>


            <div class="container">
                <div class="card">

                    <form action="/categorias/save" method="post">
                        <input type="text" class="form-control" name="titulo" placeholder="Defina o título da categoria">
                        <button class="btn btn-primary" >Cadastrar</button>

                    </form>

                </div>
            </div>


            <%- include ("../../partials/footer.ejs") %>